/*--------------------
Colors
----------------------*/
/*--------------------
Font
----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*--------------------
Global Settings
----------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

::after,
::before {
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: #e02f6b;
  color: #fff;
}

*::selection {
  background-color: #e02f6b;
  color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  max-inline-size: 100%;
  vertical-align: middle;
}

body {
  min-block-size: 100vh;
  background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee);
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #18293c;
  line-height: 1.6;
  overflow-x: hidden;
  padding: 5vh 1rem;
  -webkit-tap-highlight-color: transparent;
}

body:before {
  content: "";
  position: fixed;
  inline-size: 100%;
  block-size: 100%;
  inset-block-start: 0;
  inset-inline-start: 0;
  background-color: #cddc39;
  z-index: -1;
  opacity: 0.12;
}

main {
  max-width: 1200px;
  margin: auto;
}

/*Section*/
section {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 1.875rem;
  min-block-size: 90vh;
  padding: 7.5rem 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
section.sec-padding {
  padding: 80px 0;
}
section .section-title {
  padding: 0 15px;
  -webkit-margin-after: 40px;
          margin-block-end: 40px;
  inline-size: 100%;
  text-align: center;
}
section .section-title h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #18293c;
  text-transform: capitalize;
}

.container {
  padding: 0 40px;
  inline-size: 100%;
}

/*Custom Scrollbar */
::-webkit-scrollbar {
  inline-size: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #e02f6b;
  border-radius: 1.875rem;
}

/*Buttons */
button {
  font-family: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.btn {
  line-height: 1.6;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 1.875rem;
  font-weight: 500;
  font-size: 1rem;
  color: #e02f6b;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}
.btn:hover {
  color: #fff;
}
.btn::before {
  content: "";
  position: absolute;
  inline-size: 0%;
  block-size: 100%;
  inset-inline-start: 0;
  inset-block-start: 0;
  background-color: #e02f6b;
  z-index: -1;
  opacity: 0.5;
  transition: inline-size 0.3s ease;
}
.btn:hover::before {
  inline-size: 100%;
}

/*-------------------------
Home Section
----------------------------*/
.home-section {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: row;
}
.home-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.home-section .container .home-text {
  text-transform: capitalize;
}
.home-section .container .home-text p {
  font-weight: 300;
  font-size: 18px;
  color: #18293c;
}
.home-section .container .home-text h1 {
  font-weight: 600;
  font-size: 50px;
  color: #18293c;
}
.home-section .container .home-text h2 {
  font-weight: 300;
  font-size: 20px;
  color: #18293c;
  -webkit-margin-after: 2rem;
          margin-block-end: 2rem;
}
.home-section .container .home-text .btn {
  margin: 0 1rem 1rem 0;
}
.home-section .container .home-image .img-box {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  border: 8px solid rgba(255, 255, 255, 0.25);
  max-inline-size: 22.5rem;
  margin: auto;
}
.home-section .container .home-image .img-box img {
  max-inline-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 50%;
}

/*-------------------------
About Section
----------------------------*/
.about-section .about-img {
  padding: 0 1rem;
}
.about-section .about-img .img-box {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0.625rem;
  max-inline-size: 22.5rem;
  margin: auto;
}
.about-section .about-img .img-box img {
  max-inline-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-section .about-text {
  padding: 0 1rem;
}
.about-section .about-text p {
  line-height: 1.8;
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
}
.about-section .about-text h3 {
  font-weight: 500;
  font-size: 1.25rem;
  color: #18293c;
  text-transform: capitalize;
  margin: 20px 0;
}
.about-section .about-text .skills {
  display: flex;
  flex-wrap: wrap;
}
.about-section .about-text .skills .skill-item {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  padding: 5px 15px;
  text-transform: capitalize;
  margin: 0 10px 10px 0;
}
.about-section .about-text .about-tabs {
  -webkit-margin-before: 20px;
          margin-block-start: 20px;
}
.about-section .about-text .about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  color: #18293c;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0 1.875rem 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.about-section .about-text .about-tabs .tab-item:last-child {
  margin: 0;
}
.about-section .about-text .about-tabs .tab-item::before {
  content: "";
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
  inline-size: 0%;
  block-size: 1px;
  background-color: #18293c;
  transition: inline-size 0.3s ease;
}
.about-section .about-text .about-tabs .tab-item:hover::before {
  inline-size: 100%;
}
.about-section .about-text .about-tabs .tab-item.active::before {
  inline-size: 100%;
  background-color: #e02f6b;
}
.about-section .about-text .about-tabs .tab-item.active {
  color: #e02f6b;
  opacity: 1;
  cursor: auto;
}/*# sourceMappingURL=main.css.map */