/*-------------------------
About Section
----------------------------*/
.about-section {
    .about-img {
        padding: 0 1rem;

        .img-box {
            background-color: $white-alpha-25;
            border: 1px solid $white-alpha-40;
            border-radius: 0.625rem;
            max-inline-size: 22.5rem;
            margin: auto;

            img {
                max-inline-size: 100%;
                object-fit: contain;
            }
        }
    }

    .about-text {
        padding: 0 1rem;

        p {
            line-height: 1.8;
            margin-block-end: 20px
        }

        h3 {
            @include font(500, 1.25rem, $blue-dark);
            text-transform: capitalize;
            margin: 20px 0;
        }

        .skills {
            display: flex;
            flex-wrap: wrap;

            .skill-item {
                background-color: $white-alpha-25;
                border: 1px solid $white-alpha-40;
                border-radius: 20px;
                padding: 5px 15px;
                text-transform: capitalize;
                margin: 0 10px 10px 0;
            }
        }

        .about-tabs {
            margin-block-start: 20px;

            .tab-item {
                padding: 2px 0;
                background-color: transparent;
                border: none;
                display: inline-block;
                @include font(500, 20px, $blue-dark);
                text-transform: capitalize;
                cursor: pointer;
                margin: 0 1.875rem 0 0;
                position: relative;
                opacity: .5;
                transition: all .3s ease;

                &:last-child {
                    margin: 0;
                }

                &::before {
                    content: '';
                    position: absolute;
                    inset-inline-start: 0;
                    inset-block-end: 0;
                    @include size(0%, 1px);
                    background-color: $blue-dark;
                    transition: inline-size .3s ease;
                }

                &:hover::before {
                    inline-size: 100%;
                }

                &.active::before {
                    inline-size: 100%;
                    background-color: $main-color;
                }

                &.active {
                    color: $main-color;
                    opacity: 1;
                    cursor: auto;
                }
            }

        }
    }
}